// sidebar
$menuText:#888888;
$menuActiveText: #222222;
$subMenuActiveText:#222222; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #fefefe;
$menuHover:#eeeeee;

$subMenuBg:#fcfcfc;
$subMenuHover:#eeeeee;

$sideBarWidth: 230px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
